In [6]:
#ingest the data
import pandas as pd

data = pd.read_csv("notebooks\data\Data\gemstone.csv") # import the data from csv file. We have used relative path
data

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [15]:
print(data.head(2))   # top 2 rows of data. Default number of rows is 5.
print(data.tail(2))   # bottom 2 rows of data. Default number of rows is 5.
print(data.sample(2)) # random 2 rows of data. Default number of rows is 5.

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
            id  carat        cut color clarity  depth  table     x     y  \
193571  193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49
193572  193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71

           z  price
193571  2.81    681
193572  3.48   2258
            id  carat    cut color clarity  depth  table     x     y     z  \
161015  161015   1.08  Ideal     F     SI1   62.0   57.0  6.59  6.63  4.10
28496    28496   0.34  Ideal     G     VS2   61.6   56.0  4.51  4.49  2.77

        price
161015   5626
28496     765

In [35]:
data = data.drop(labels=['id'],axis=1) #dropped the is column as it was not helpful

In [36]:
data.isnull().sum() # checking how many null blank rows we have in the data

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [37]:
data.duplicated() # Checking the number of duplicate values

0         False
1         False
2         False
3         False
4         False
          ...
193568    False
193569    False
193570    False
193571    False
193572    False
Length: 193573, dtype: bool

In [38]:
data.duplicated().sum() # sum of number of duplicate values

np.int64(0)

In [39]:
data.shape # cheking the size of data(number of rows and col)

(193573, 10)

In [42]:
data.info() # checkng the data type of columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   carat    193573 non-null  float64
 1   cut      193573 non-null  object
 2   color    193573 non-null  object
 3   clarity  193573 non-null  object
 4   depth    193573 non-null  float64
 5   table    193573 non-null  float64
 6   x        193573 non-null  float64
 7   y        193573 non-null  float64
 8   z        193573 non-null  float64
 9   price    193573 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 14.8+ MB

In [50]:
#cat Vs num
#filtering categorical data

categorical_columns= data.columns[data.dtypes==object]

In [51]:
#filtering the numerical data
numerical_columns= data.columns[data.dtypes != object]

In [54]:
#describing the categorical columns
data[categorical_columns].describe()

           cut   color clarity
count   193573  193573  193573
unique       5       7       8
top      Ideal       G     SI1
freq     92454   44391   53272

In [59]:
#describing the numerical columns
data[numerical_columns].describe()

,carat,depth,table,x,y,z,price
count,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000
mean,0.790688,61.820574,57.227675,5.715312,5.720094,3.534246,3969.155414
std,0.462688,1.081704,1.918844,1.109422,1.102333,0.688922,4034.374138
min,0.200000,52.100000,49.000000,0.000000,0.000000,0.000000,326.000000
25%,0.400000,61.300000,56.000000,4.700000,4.710000,2.900000,951.000000
50%,0.700000,61.900000,57.000000,5.700000,5.720000,3.530000,2401.000000
75%,1.030000,62.400000,58.000000,6.510000,6.510000,4.030000,5408.000000
max,3.500000,71.600000,79.000000,9.650000,10.010000,31.300000,18818.000000

In [ ]:
#you can transpose the data
data[numerical_columns].describe().T

In [65]:
data[categorical_columns]['cut'].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64